body {
  margin: 0 auto;
  background-color: lightgrey;
}
.wrapper {
  background-color: white;
  padding: 30px 70px;
}
a {
  text-decoration: none;
}
ul {
  text-align: center;
}
#content {
  overflow: auto;
}

.column1,
.column2,
.column3 {
  width: 31.3%;
  float: left;
}

.column1 {
  float: left;
}
.column2 {
  margin: 0% 3%;
}
.column3 {
  float: right;
  margin: 0%;
}
#content .banner1 .column1 {
  display: flex;
  width: 50%;
  float: left;
  height: 90%;
  margin-left: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
#content .banner .column1,
#content .banner2 .column1 {
  display: flex;
  width: 30%;
  float: left;
  height: 90%;
  margin-left: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
#content .banner1 .column2 {
  width: 35%;
  height: auto;
  float: right;
}
#content .banner2 .column1 {
  height: 25%;
}
.banner .column2 {
  display: flex;
  width: 70%;
}
.column1 .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

li {
  display: inline;
  padding: 0.5em;
}
/*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
 } 
 /* make scrollbar transparent */

.banner,
.article,
.banner2,
.banner3,
.banner4,
.banner5 {
  background-color: white;
  height: 25em;
  margin-bottom: 1em;
}
.banner4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 10cm;
}
.banner5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 25cm;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.banner2 {
  background-color: white;
  height: 55em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.banner2 .column2 {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 95%;
}
.banner1 {
  background-color: #c1dcdc;
  height: 25em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.banner3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
#content .banner1 .column1 h1 {
  height: 128px;
  width: 345px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar {
  position: relative;
  display: flex;
  height: 60px;
  width: inherit;
}
.searchbar input[type="search"] {
  width: 100%;
}
.searchbar button {
  background: #16bdae;
  border: 0;
  border-radius: 7px;
  color: white;
  padding: 15px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.seemore,
.Explore {
  content: "See More";
  background: #c1dcdc;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}
.seemore {
  content: "See More";
}
.seemore a,
.Explore a {
  color: black;
}
.plant-text {
  display: flex;
  flex-direction: column;
}
.banner4 p,
.banner5 p,
.banner4 h1,
.banner5 h1 {
  text-align: center;
}
.banner3 h1 {
  margin: 25px 40px;
}
.aboutus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 70%;
}
.aboutus-element {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  flex-direction: column;
  align-items: center;
}
.aboutus-element .background-img {
  background-color: #c1dcdc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.category {
  display: flex;
}
.category-contain {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #c1dcdc;
  align-content: space-around;
  justify-content: space-around;
}
.category-elements {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.category-contain-img {
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.category-contain-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-contain-button .Explore {
  content: "Explore";
  background: white;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}
.img-middle {
  margin-top: 95px;
}
.img-special {
  margin-top: -50px;
}
.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
}
.card {
  float: left;
  max-width: 43.333%;
  padding: 0px 30px;
  margin-bottom: 2rem;
  flex-basis: 60.333%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 100px;
  background-color: #c1dcdc;
}

.card > img {
  margin-bottom: 0.75rem;
  width: 20%;
  height: 60%;
}

.card-text {
  font-size: 120%;
}
footer {
  width: 100%;
  height: 270px;
  background-color: #c1dcdc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
footer .column1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 200px;
}
